# Android / Gradle
.gradle/
build/
*/build/
local.properties
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Keystore
*.jks
*.keystore

# Python / ML stuff
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env/
.ipynb_checkpoints/

# Model files (IMPORTANT — too big for git)
*.bin
*.onnx
*.tflite
*.pt
*.ckpt
*.h5
*.pb
*.safetensors

# Optional: ignore full model folders
onnx_model/
whisper_model/
my_t5_model/
my_t5_tf/
flan_t5_zillow_final1/

# VS Code
.vscode/

# Mac
*.swp